* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  color: #4c4c4c;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  border: 1px solid transparent;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  border: 1px solid #666666;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #d4d2d2;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  cursor: pointer;
}

.close:hover {
  background-color: #ff948c;
  color: white;
}

/* Style the header */
.header {
  background-color: #63698a;
  padding: 30px 40px;
  color: #e8eaff;
  text-align: center;
}

.header strong {
  color: #ffc000;
  font-size: 1.2em;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.btn {
  padding: 10px;
  background-color: #008CBA;
  color: white;  
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.btn:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.addBtn {
  width: 25%;
  float: left;
  border: 0;
}

.saveBtn {
  padding: 1em 3em;  
}

.btn:hover {
  background-color: #82c3d8;
}

.btn:hover:disabled {
  background-color: #cccccc;
}

.buttons {
  padding: 1.5em;
  text-align: right
}


.alert {
  padding: 1.2em;
  text-align: center;
  background-color: #ffd55a;
  color: white;
  font-size: 1.3em;
}

.alert.success {
  background-color: #84f78e;
  color: #00820c;
}

.alert.info {
  background-color: #fffda7;
  color: #6e7106;
}

.alert.warning {
  background-color: #ffd55a;
  color: #ce591c;
}

.alert.error {
  background-color: #efb0b5;
  color: #90000b;
}

.alert .details {
  padding-top: 0.4em;
  font-size: 0.85em;  
}

.alert .details a {
  color: #63698a;
}


/* Loading */
@keyframes blink {
  /**
  * At the start of the animation the dot
  * has an opacity of .2
  */
  0% {
    opacity: .2;
  }

  /**
  * At 20% the dot is fully visible and
  * then fades out slowly
  */
  20% {
    opacity: 1;
  }

  /**
  * Until it reaches an opacity of .2 and
  * the animation can start again
  */
  100% {
    opacity: .2;
  }
}

.loading span {
  /**
  * Use the blink animation, which is defined above
  */
  animation-name: blink;

  /**
  * The animation should take 1.4 seconds
  */
  animation-duration: 1.4s;

  /**
  * It will repeat itself forever
  */
  animation-iteration-count: infinite;

  /**
  * This makes sure that the starting style (opacity: .2)
  * of the animation is applied before the animation starts.
  * Otherwise we would see a short flash or would have
  * to set the default styling of the dots to the same
  * as the animation. Same applies for the ending styles.
  */
  animation-fill-mode: both;
}

.loading span:nth-child(2) {
  /**
  * Starts the animation of the third dot
  * with a delay of .2s, otherwise all dots
  * would animate at the same time
  */
  animation-delay: .2s;
}

.loading span:nth-child(3) {
  /**
  * Starts the animation of the third dot
  * with a delay of .4s, otherwise all dots
  * would animate at the same time
  */
  animation-delay: .4s;
}


footer {
  margin: 2em 0;
  line-height: 1.5em;
  text-align: center;
}

footer .copywrite {
  margin: 0 auto;
  display: inline-block;
  color: #666666;
}

footer .copywrite span {
  font-style: italic;
  color: #a9a9a9;
}

footer .copywrite a {  
  color: #666666;
  text-decoration: none;
}

.smaller{
  font-size: 0.85em;
}

footer .copywrite a:hover {
  color: #cccccc;
}

